* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #14161f;
    --second-color: #f9f9f9;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: var(--first-color);
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

header {
    margin-top: 40px;
}

header h1 {
    font-size: 56px;
    font-weight: 100;
}

header p {
    text-align: center;
}

main {
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

.transactions {
    text-align: center;
}

.transactions h2 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 38px;
}

.transactions-list {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.income-area {
    width: 300px;
    min-height: 100px;
    border: 1px solid var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.income-area h3 {
    font-size: 30px;
    color: rgb(61, 180, 61);
    margin-top: 20px;
    margin-bottom: 20px;
}

.expenses-area {
    width: 300px;
    min-height: 100px;
    border: 1px solid var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenses-area h3 {
    font-size: 30px;
    color: rgb(235, 67, 67);
    margin-top: 20px;
    margin-bottom: 20px;
}

.transaction {
    display: flex;
    width: 260px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.transaction:last-child {
    margin-bottom: 20px;
}

.transaction button {
    background: none;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--first-color);
}

.income-area .transaction-amount {
    color: rgb(61, 180, 61);
    font-weight: 800;
}

.expenses-area .transaction-amount {
    color: rgb(235, 67, 67);
    font-weight: 800;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--first-color);
    padding: 30px;
    font-size: 30px;
    gap: 30px;
}

.panel h2 {
    font-weight: 400;
}

.available-founds {
    font-size: 60px;
    font-weight: 800;
}

.panel button {
    background: none;
    color: var(--first-color);
    border: 1px solid var(--first-color);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.panel button:hover {
    background-color: grey;
}

.panel button:last-child {
    margin-left: 30px;
}

.style {
    display: flex;
    gap: 70px;
}

.dark {
    width: 50px;
    height: 50px;
    background-color: #14161f;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    cursor: pointer;
}

.light {
    width: 50px;
    height: 50px;
    background-color: #f9f9f9;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    cursor: pointer;
}

.add-form {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    z-index: 1000;
    height: 90%;
    width: 90%;
    border-radius: 30px;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(155, 155, 255, 1) 30%,
        rgba(0, 212, 255, 1) 100%
    );
    font-size: 32px;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

form input {
    width: 70%;
    height: 40px;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

form select {
    width: 70%;
    height: 40px;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.add-form button {
    background: none;
    border: 2px solid black;
    width: 130px;
    height: 50px;
    font-size: 20px;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.add-form button:hover {
    background-color: grey;
}
